/* Colors & font-sizes */
:root {
	--clr-bg: #222222;
	--clr-bg-light: #f4f4f4;
	--clr-bg-lighter: #fff;

	/* Title & SubTitles */
	--clr-title: #363636;
	--clr-subtitle: #777777;

	/* Text Colors */
	--clr-text-blue: #0000ee;
	--clr-text-white: #fff;
	--clr-text-gray: #aaaaaa;
	--clr-text-black: #000;

	--ff-primary: "Source Sans Pro", sans-serif;
	--ff-inter: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

	--ff-body: var(--ff-primary);
	--ff-heading: var(--ff-primary);

	--fs-heading: 48px;
	--fs-sub-heading: 36px;
	--fs-body: 20px;
}

/* Utilities Classes */
.text-primary {
	color: var(--clr-primary);
}
.text-accent {
	color: var(--clr-accent);
}
.text-accent-light {
	color: var(--clr-accent-light);
}

.text-neutral {
	color: var(--clr-neutral);
}
.text-neutral-light {
	color: var(--clr-neutral-light);
}
