@import url(reset.css);
@import url(globals.css);

/* Default elements */
h1,
h2 {
	font-family: inherit;
	color: var(--clr-title);
}

h1 {
	font-size: var(--fs-heading);
}

h2 {
	font-size: var(--fs-sub-heading);
}

body {
	font-family: var(--ff-primary);
	background: url(/public/assets/images/bg.jpg) no-repeat;
	background-size: cover;
}

.nav-icon {
	font-size: 48px;
	color: #ffffffb4;
}

.nav-icon:hover {
	color: var(--clr-bg-lighter);
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}
